/* @font-face {
    font-family: Nunito;
    src: url('/storage/fonts/NunitoSans-Light.ttf');
} */

body {
    font-family: DejaVu Sans, Arial, Helvetica Neue, Helvetica, sans-serif;
    /* font-family: Arial, Helvetica Neue, Helvetica, sans-serif; */
    font-size: x-small;
    /* text-align: center; */
 }

header {
   position: fixed;
   top: -30px;
   left: 0px;
   right: 0px;
   /* height: 50px; */

   /** Extra personal styles **/
   /* background-color: #03a9f4; */
   color: white;
   text-align: center;
   /* line-height: 35px; */
}

footer {
   position: fixed;
   bottom: 60px;
   left: 0px;
   right: 0px;
   /* height: 25px; */

   /** Extra personal styles **/
   /* background-color: #03a9f4; */
   color: white;
   /* text-align: center; */
   /* line-height: 35px; */
}

